<div class="jumbotron">
  <% if user_signed_in? %>
    <% title "Proyectos" %>

    <table>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th></th>
        <th></th>
      </tr>
      <% for proyecto in @proyectos %>
        <tr>
          <td><%= link_to proyecto.nombre, proyecto %></td>
          <td><%= proyecto.descripcion %></td>
          <td><%= link_to "Editar", edit_proyecto_path(proyecto) %></td>
          <td><%= link_to "Eliminar", proyecto, :confirm => 'Confirme que desea eliminar el proyecto', :method => :delete %></td>
        </tr>
      <% end %>
    </table>

    <p><%= link_to "Crear Proyecto", new_proyecto_path %></p>
    <% else %>
    <h1>Bienvenido!</h1>
    <p class="lead">
      Debes ingresar o registrarte antes de poder crear mapas!
    </p>
    <div class="row-fluid">
      <div class="span6">
        <%= link_to "Ingresar", new_user_session_path, :class => "btn btn-success" %>
      </div>
      <div class="span6">
        <%= link_to "Registrarse", new_user_registration_path, :class => "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>