<% title "Asignatura", false %>

<h1 style="display: inline;"><%= @proyecto.nombre %></h1> <%= link_to "Editar", [:edit, @proyecto] %> |
  <%= link_to "Eliminar", @proyecto, :confirm => 'Confirme que desea eliminar esta asignatura', :method => :delete %>
<p><i>
  <%= @proyecto.descripcion %>
</i></p>


<table>
  <tr>
    <th>Nombre</th>
    <th>&nbsp;</th>
    <th>Profesor</th>
    <th>&nbsp;</th>
    <th>Descripción</th>
  </tr>
  <% @proyecto.personas.each do |persona| %>
    <tr>
      <td><%= link_to persona.nombre, persona %></td>
      <td>&nbsp;</td>
      <td><%= persona.rut %></td>
      <td>&nbsp;</td>
      <td><%= persona.cargo %></td>
      <td>&nbsp;</td>
      <td><%= link_to 'Eliminar', persona,
                 method: :delete,
                 data: { confirm: 'Confirme que desea eliminar' } %></td>
    </tr>
  <% end %>
</table>

<h2>Agregar Contenido:</h2>
<%= form_for [@proyecto, @proyecto.personas.build] do |f| %>
  <p>
    <%= f.label :nombre, 'Título' %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :rut, 'Profesor' %><br />
    <%= f.text_field :rut %>
  </p>
  <p>
    <%= f.label :cargo, 'Descripción' %><br />
    <%= f.text_field :cargo %>
  </p>
  <p>
    <%= f.submit "Agregar" %>
  </p>
<% end %>

<p>
  <%= link_to "Volver", proyectos_path %>
</p>
