<%= form_for @persona do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :rut %><br />
    <%= f.text_field :rut %>
  </p>
  <p>
    <%= f.label :cargo %><br />
    <%= f.text_field :cargo %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
